<div class="container-fluid" id="footer">
    <div class="container-fluid">
        <div class="row vcenter">
            <div class="col-sm-4">
                Department of Computer Science and Engineering,
                <br> Indian Institute of Technology Roorkee,
                <br> Roorkee, Uttarakhand - 247667,
                <br> India.
            </div>
            <div class="col-sm-3 text-center">
                <h3 class="subheading">Contact</h3>
                <div>
                    <div class="round-button vcenter"><a href="mailto:acmiitr@gmail.com"><i class="fa fa-envelope"></i></a></div>
                    <div class="round-button vcenter"><a href="https://facebook.com/acmiitr"><i class="fa fa-facebook-f"></i></a></div>
                </div>
            </div>
            <div class="col-sm-5 intrinsic-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d899.6210410931732!2d77.89555325170318!3d29.86334130862429!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x92a1d55eaf85c035!2sDepartment+of+Computer+Science+and+Engineering!5e0!3m2!1sen!2sin!4v1488304692596" width="310" height="550" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <p>ACM Student Chapter - IIT Roorkee · © 2017</p>
    </div>
</div>